@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 90vh;
  background-color: #f6f0dc;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.container {
  padding: 2vh 7vw 12vh 7vw;
  text-align: center;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.introduce {
  width: 100%;
  text-align: justify;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
}
a.btn:link,
a.btn:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1rem;
  margin: 2rem 1rem 0 0;
  width: 50%;
  padding: 0.4rem 0.4rem;
  border-radius: 1rem;
}

a.btn-primary:link,
a.btn-primary:visited {
  color: #fff;
  background-color: #007bff;
}
a.btn-primary:hover,
a.btn-primary:active {
  background-color: #0069d9;
}

a.btn-dangerous:link,
a.btn-dangerous:visited {
  background-color: #f82e2e;
  color: #fff;
}
a.btn-dangerous:hover,
a.btn-dangerous:active {
  background-color: #e42020;
}
.myImage {
  align-self: center;
  margin: auto;
  width: 60%;
}

.miniContent {
  width: 100%;
  padding: 1rem 0;
  text-align: left;
  margin-bottom: 4rem;
}
.miniContent::before {
  content: "Nội dung chương:";
  font-weight: bold;
  text-align: left;
}
.miniContent a {
  display: block;
  text-decoration: none;
}
#myP {
  display: none;
  transform: 1s;
}
.backHome {
  /* display: none; */
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 2rem solid #1d1df68c;
}
a, a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: hsl(219, 88%, 63%);
}
ol{
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10%;
}
ol > li {
  display: block;
  margin: 1rem;
}
ol li:nth-child(odd)
{
  background-color: #e8dcb5;
}